<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.neusoft.rnma.ichpoc.mapper.MedicalReportMapper">
	<!-- useGeneratedKeys="true" keyProperty="id" -->
	<delete id="removeMR">
		DELETE from xx_medical_report
		WHERE username=#{username}
	</delete>
	<select id="getAvailable" resultType="java.lang.Integer">
		select id from
		xx_medical_report_third_resource where use_status='new'
	</select>
	<select id="getMock" parameterType="Integer"
		resultType="com.alibaba.fastjson.JSONObject">
		SELECT
		title,
		name,
		male,
		createtime,
		updatetime,
		anomalies_nums,
		basic_height,
		basic_weight,
		basic_age,
		basic_waistline,
		basic_hipsline,
		bph,
		bpl,
		bmi,
		mer_result,
		<!-- mer_result_proposal, -->
		mer_doctor,
		basic_result,
		ecg_result,
		ecg_result_status,
		ecg_heart_rate,
		blood24_result,
		blood24_result_status,
		blood24_01,
		blood24_02,
		blood24_03,
		blood24_04,
		blood24_05,
		blood24_06,
		blood24_07,
		blood24_08,
		blood24_09,
		blood24_10,
		blood24_11,
		blood24_12,
		blood24_13,
		blood24_14,
		blood24_15,
		blood24_16,
		blood24_17,
		blood24_18,
		blood24_19,
		blood24_20,
		blood24_21,
		blood24_22,
		blood24_23,
		blood24_24,
		blood24_01_status,
		blood24_02_status,
		blood24_03_status,
		blood24_04_status,
		blood24_05_status,
		blood24_06_status,
		blood24_07_status,
		blood24_08_status,
		blood24_09_status,
		blood24_10_status,
		blood24_11_status,
		blood24_12_status,
		blood24_13_status,
		blood24_14_status,
		blood24_15_status,
		blood24_16_status,
		blood24_17_status,
		blood24_18_status,
		blood24_19_status,
		blood24_20_status,
		blood24_21_status,
		blood24_22_status,
		blood24_23_status,
		blood24_24_status,
		liver4_result,
		liver4_result_status,
		liver4_ggt,
		liver4_alt,
		liver4_got,
		liver4_tb,
		liver4_ggt_status,
		liver4_alt_status,
		liver4_got_status,
		liver4_tb_status,
		renal3_result,
		renal3_result_status,
		renal3_cr,
		renal3_bun,
		renal3_sua,
		renal3_cr_status,
		renal3_bun_status,
		renal3_sua_status,
		bf4_result,
		bf4_result_status,
		bf4_tc,
		bf4_tg,
		bf4_shdc,
		bf4_sldc,
		bf4_tc_status,
		bf4_tg_status,
		bf4_shdc_status,
		bf4_sldc_status,
		blood_sugar_result,
		blood_sugar_result_status,
		blood_sugar,
		mz5_result,
		mz5_result_status,
		mz5_hbdh,
		mz5_ast,
		mz5_ldh,
		mz5_ck,
		mz5_cki,
		mz5_hbdh_status,
		mz5_ast_status,
		mz5_ldh_status,
		mz5_ck_status,
		mz5_cki_status,
		homocysteine,
		homocysteine_status,
		urine24_result_status,
		urine24_result,
		urine24_01,
		urine24_02,
		urine24_03,
		urine24_04,
		urine24_05,
		urine24_06,
		urine24_07,
		urine24_08,
		urine24_09,
		urine24_10,
		urine24_11,
		urine24_12,
		urine24_13,
		urine24_14,
		urine24_15,
		urine24_16,
		urine24_17,
		urine24_18,
		urine24_19,
		urine24_20,
		urine24_21,
		urine24_22,
		urine24_23,
		urine24_24,
		urine24_25,
		urine24_26,
		urine24_01_status,
		urine24_02_status,
		urine24_03_status,
		urine24_04_status,
		urine24_05_status,
		urine24_06_status,
		urine24_07_status,
		urine24_08_status,
		urine24_09_status,
		urine24_10_status,
		urine24_11_status,
		urine24_12_status,
		urine24_13_status,
		urine24_14_status,
		urine24_15_status,
		urine24_16_status,
		urine24_17_status,
		urine24_18_status,
		urine24_19_status,
		urine24_20_status,
		urine24_21_status,
		urine24_22_status,
		urine24_23_status,
		urine24_24_status,
		urine24_25_status,
		urine24_26_status,
		uu_colordoppler_description,
		uu_colordoppler_result,
		uu_colordoppler_result_status,
		chest_xray_description,
		chest_xray_result,
		chest_xray_result_status,
		head_ct_description,
		head_ct_result,
		head_ct_result_status,
		heart_colordoppler_description,
		heart_colordoppler_result,
		heart_colordoppler_result_status,
		abdomen_colordoppler_description,
		abdomen_colordoppler_result,
		abdomen_colordoppler_result_status,
		prostate_colordoppler_description,
		prostate_colordoppler_result,
		prostate_colordoppler_result_status,
		ub_colordoppler_description,
		ub_colordoppler_result,
		ub_colordoppler_result_status,
		gynaecology_colordoppler_description,
		gynaecology_colordoppler_result,
		gynaecology_colordoppler_result_status
		FROM
		xx_medical_report_third_resource
		WHERE
		id = #{id};
		update
		xx_medical_report_third_resource set use_status='used' where id=#{id};
	</select>
	<insert id="createMR"
		parameterType="com.alibaba.fastjson.JSONObject">
		<!-- avoid many times auth exception. Delete the report data that previously generated  -->
		DELETE FROM xx_medical_report WHERE username=#{username};
		INSERT INTO xx_medical_report
		(
		<!-- user_id, -->
		username,
		title,
		name,
		male,
		createtime,
		updatetime,
		anomalies_nums,
		basic_height,
		basic_weight,
		basic_age,
		basic_waistline,
		basic_hipsline,
		bph,
		bpl,
		bmi,
		mer_result,
		<!-- mer_result_proposal, -->
		mer_doctor,
		basic_result,
		ecg_result,
		ecg_result_status,
		ecg_heart_rate,
		blood24_result,
		blood24_result_status,
		blood24_01,
		blood24_02,
		blood24_03,
		blood24_04,
		blood24_05,
		blood24_06,
		blood24_07,
		blood24_08,
		blood24_09,
		blood24_10,
		blood24_11,
		blood24_12,
		blood24_13,
		blood24_14,
		blood24_15,
		blood24_16,
		blood24_17,
		blood24_18,
		blood24_19,
		blood24_20,
		blood24_21,
		blood24_22,
		blood24_23,
		blood24_24,
		blood24_01_status,
		blood24_02_status,
		blood24_03_status,
		blood24_04_status,
		blood24_05_status,
		blood24_06_status,
		blood24_07_status,
		blood24_08_status,
		blood24_09_status,
		blood24_10_status,
		blood24_11_status,
		blood24_12_status,
		blood24_13_status,
		blood24_14_status,
		blood24_15_status,
		blood24_16_status,
		blood24_17_status,
		blood24_18_status,
		blood24_19_status,
		blood24_20_status,
		blood24_21_status,
		blood24_22_status,
		blood24_23_status,
		blood24_24_status,
		liver4_result,
		liver4_result_status,
		liver4_ggt,
		liver4_alt,
		liver4_got,
		liver4_tb,
		liver4_ggt_status,
		liver4_alt_status,
		liver4_got_status,
		liver4_tb_status,
		renal3_result,
		renal3_result_status,
		renal3_cr,
		renal3_bun,
		renal3_sua,
		renal3_cr_status,
		renal3_bun_status,
		renal3_sua_status,
		bf4_result,
		bf4_result_status,
		bf4_tc,
		bf4_tg,
		bf4_shdc,
		bf4_sldc,
		bf4_tc_status,
		bf4_tg_status,
		bf4_shdc_status,
		bf4_sldc_status,
		blood_sugar_result,
		blood_sugar_result_status,
		blood_sugar,
		mz5_result,
		mz5_result_status,
		mz5_hbdh,
		mz5_ast,
		mz5_ldh,
		mz5_ck,
		mz5_cki,
		mz5_hbdh_status,
		mz5_ast_status,
		mz5_ldh_status,
		mz5_ck_status,
		mz5_cki_status,
		homocysteine,
		homocysteine_status,
		urine24_result_status,
		urine24_result,
		urine24_01,
		urine24_02,
		urine24_03,
		urine24_04,
		urine24_05,
		urine24_06,
		urine24_07,
		urine24_08,
		urine24_09,
		urine24_10,
		urine24_11,
		urine24_12,
		urine24_13,
		urine24_14,
		urine24_15,
		urine24_16,
		urine24_17,
		urine24_18,
		urine24_19,
		urine24_20,
		urine24_21,
		urine24_22,
		urine24_23,
		urine24_24,
		urine24_25,
		urine24_26,
		urine24_01_status,
		urine24_02_status,
		urine24_03_status,
		urine24_04_status,
		urine24_05_status,
		urine24_06_status,
		urine24_07_status,
		urine24_08_status,
		urine24_09_status,
		urine24_10_status,
		urine24_11_status,
		urine24_12_status,
		urine24_13_status,
		urine24_14_status,
		urine24_15_status,
		urine24_16_status,
		urine24_17_status,
		urine24_18_status,
		urine24_19_status,
		urine24_20_status,
		urine24_21_status,
		urine24_22_status,
		urine24_23_status,
		urine24_24_status,
		urine24_25_status,
		urine24_26_status,
		uu_colordoppler_description,
		uu_colordoppler_result,
		uu_colordoppler_result_status,
		chest_xray_description,
		chest_xray_result,
		chest_xray_result_status,
		head_ct_description,
		head_ct_result,
		head_ct_result_status,
		heart_colordoppler_description,
		heart_colordoppler_result,
		heart_colordoppler_result_status,
		abdomen_colordoppler_description,
		abdomen_colordoppler_result,
		abdomen_colordoppler_result_status,
		prostate_colordoppler_description,
		prostate_colordoppler_result,
		prostate_colordoppler_result_status,
		ub_colordoppler_description,
		ub_colordoppler_result,
		ub_colordoppler_result_status,
		gynaecology_colordoppler_description,
		gynaecology_colordoppler_result,
		gynaecology_colordoppler_result_status)
		VALUES
		(
		<!-- #{userid}, -->
		#{username},
		#{title},
		#{name},
		#{male},
		#{createtime},
		#{createtime},
		#{anomalies_nums},
		#{basic_height},
		#{basic_weight},
		#{basic_age},
		#{basic_waistline},
		#{basic_hipsline},
		#{bph},
		#{bpl},
		#{bmi},
		#{mer_result},
		<!-- #{mer_result_proposal}, -->
		#{mer_doctor},
		#{basic_result},
		#{ecg_result},
		#{ecg_result_status},
		#{ecg_heart_rate},
		#{blood24_result},
		#{blood24_result_status},
		#{blood24_01},
		#{blood24_02},
		#{blood24_03},
		#{blood24_04},
		#{blood24_05},
		#{blood24_06},
		#{blood24_07},
		#{blood24_08},
		#{blood24_09},
		#{blood24_10},
		#{blood24_11},
		#{blood24_12},
		#{blood24_13},
		#{blood24_14},
		#{blood24_15},
		#{blood24_16},
		#{blood24_17},
		#{blood24_18},
		#{blood24_19},
		#{blood24_20},
		#{blood24_21},
		#{blood24_22},
		#{blood24_23},
		#{blood24_24},
		#{blood24_01_status},
		#{blood24_02_status},
		#{blood24_03_status},
		#{blood24_04_status},
		#{blood24_05_status},
		#{blood24_06_status},
		#{blood24_07_status},
		#{blood24_08_status},
		#{blood24_09_status},
		#{blood24_10_status},
		#{blood24_11_status},
		#{blood24_12_status},
		#{blood24_13_status},
		#{blood24_14_status},
		#{blood24_15_status},
		#{blood24_16_status},
		#{blood24_17_status},
		#{blood24_18_status},
		#{blood24_19_status},
		#{blood24_20_status},
		#{blood24_21_status},
		#{blood24_22_status},
		#{blood24_23_status},
		#{blood24_24_status},
		#{liver4_result},
		#{liver4_result_status},
		#{liver4_ggt},
		#{liver4_alt},
		#{liver4_got},
		#{liver4_tb},
		#{liver4_ggt_status},
		#{liver4_alt_status},
		#{liver4_got_status},
		#{liver4_tb_status},
		#{renal3_result},
		#{renal3_result_status},
		#{renal3_cr},
		#{renal3_bun},
		#{renal3_sua},
		#{renal3_cr_status},
		#{renal3_bun_status},
		#{renal3_sua_status},
		#{bf4_result},
		#{bf4_result_status},
		#{bf4_tc},
		#{bf4_tg},
		#{bf4_shdc},
		#{bf4_sldc},
		#{bf4_tc_status},
		#{bf4_tg_status},
		#{bf4_shdc_status},
		#{bf4_sldc_status},
		#{blood_sugar_result},
		#{blood_sugar_result_status},
		#{blood_sugar},
		#{mz5_result},
		#{mz5_result_status},
		#{mz5_hbdh},
		#{mz5_ast},
		#{mz5_ldh},
		#{mz5_ck},
		#{mz5_cki},
		#{mz5_hbdh_status},
		#{mz5_ast_status},
		#{mz5_ldh_status},
		#{mz5_ck_status},
		#{mz5_cki_status},
		#{homocysteine},
		#{homocysteine_status},
		#{urine24_result_status},
		#{urine24_result},
		#{urine24_01},
		#{urine24_02},
		#{urine24_03},
		#{urine24_04},
		#{urine24_05},
		#{urine24_06},
		#{urine24_07},
		#{urine24_08},
		#{urine24_09},
		#{urine24_10},
		#{urine24_11},
		#{urine24_12},
		#{urine24_13},
		#{urine24_14},
		#{urine24_15},
		#{urine24_16},
		#{urine24_17},
		#{urine24_18},
		#{urine24_19},
		#{urine24_20},
		#{urine24_21},
		#{urine24_22},
		#{urine24_23},
		#{urine24_24},
		#{urine24_25},
		#{urine24_26},
		#{urine24_01_status},
		#{urine24_02_status},
		#{urine24_03_status},
		#{urine24_04_status},
		#{urine24_05_status},
		#{urine24_06_status},
		#{urine24_07_status},
		#{urine24_08_status},
		#{urine24_09_status},
		#{urine24_10_status},
		#{urine24_11_status},
		#{urine24_12_status},
		#{urine24_13_status},
		#{urine24_14_status},
		#{urine24_15_status},
		#{urine24_16_status},
		#{urine24_17_status},
		#{urine24_18_status},
		#{urine24_19_status},
		#{urine24_20_status},
		#{urine24_21_status},
		#{urine24_22_status},
		#{urine24_23_status},
		#{urine24_24_status},
		#{urine24_25_status},
		#{urine24_26_status},
		#{uu_colordoppler_description},
		#{uu_colordoppler_result},
		#{uu_colordoppler_result_status},
		#{chest_xray_description},
		#{chest_xray_result},
		#{chest_xray_result_status},
		#{head_ct_description},
		#{head_ct_result},
		#{head_ct_result_status},
		#{heart_colordoppler_description},
		#{heart_colordoppler_result},
		#{heart_colordoppler_result_status},
		#{abdomen_colordoppler_description},
		#{abdomen_colordoppler_result},
		#{abdomen_colordoppler_result_status},
		#{prostate_colordoppler_description},
		#{prostate_colordoppler_result},
		#{prostate_colordoppler_result_status},
		#{ub_colordoppler_description},
		#{ub_colordoppler_result},
		#{ub_colordoppler_result_status},
		#{gynaecology_colordoppler_description},
		#{gynaecology_colordoppler_result},
		#{gynaecology_colordoppler_result_status});
	</insert>
	<select id="viewReport"
		resultType="com.alibaba.fastjson.JSONObject" parameterType="Integer">
		SELECT
		title,
		name,
		male,
		createtime,
		updatetime,
		anomalies_nums,
		basic_height,
		basic_weight,
		basic_age,
		basic_waistline,
		basic_hipsline,
		bmi,
		bph,
		bpl,
		mer_result,
		<!-- mer_result_proposal, -->
		mer_doctor,
		basic_result,
		ecg_result,
		ecg_result_status,
		ecg_heart_rate,
		blood24_result,
		blood24_result_status,
		blood24_01,
		blood24_02,
		blood24_03,
		blood24_04,
		blood24_05,
		blood24_06,
		blood24_07,
		blood24_08,
		blood24_09,
		blood24_10,
		blood24_11,
		blood24_12,
		blood24_13,
		blood24_14,
		blood24_15,
		blood24_16,
		blood24_17,
		blood24_18,
		blood24_19,
		blood24_20,
		blood24_21,
		blood24_22,
		blood24_23,
		blood24_24,
		blood24_01_status,
		blood24_02_status,
		blood24_03_status,
		blood24_04_status,
		blood24_05_status,
		blood24_06_status,
		blood24_07_status,
		blood24_08_status,
		blood24_09_status,
		blood24_10_status,
		blood24_11_status,
		blood24_12_status,
		blood24_13_status,
		blood24_14_status,
		blood24_15_status,
		blood24_16_status,
		blood24_17_status,
		blood24_18_status,
		blood24_19_status,
		blood24_20_status,
		blood24_21_status,
		blood24_22_status,
		blood24_23_status,
		blood24_24_status,
		liver4_result,
		liver4_result_status,
		liver4_ggt,
		liver4_alt,
		liver4_got,
		liver4_tb,
		liver4_ggt_status,
		liver4_alt_status,
		liver4_got_status,
		liver4_tb_status,
		renal3_result,
		renal3_result_status,
		renal3_cr,
		renal3_bun,
		renal3_sua,
		renal3_cr_status,
		renal3_bun_status,
		renal3_sua_status,
		bf4_result,
		bf4_result_status,
		bf4_tc,
		bf4_tg,
		bf4_shdc,
		bf4_sldc,
		bf4_tc_status,
		bf4_tg_status,
		bf4_shdc_status,
		bf4_sldc_status,
		blood_sugar_result,
		blood_sugar_result_status,
		blood_sugar,
		mz5_result,
		mz5_result_status,
		mz5_hbdh,
		mz5_ast,
		mz5_ldh,
		mz5_ck,
		mz5_cki,
		mz5_hbdh_status,
		mz5_ast_status,
		mz5_ldh_status,
		mz5_ck_status,
		mz5_cki_status,
		homocysteine,
		homocysteine_status,
		urine24_result_status,
		urine24_result,
		urine24_01,
		urine24_02,
		urine24_03,
		urine24_04,
		urine24_05,
		urine24_06,
		urine24_07,
		urine24_08,
		urine24_09,
		urine24_10,
		urine24_11,
		urine24_12,
		urine24_13,
		urine24_14,
		urine24_15,
		urine24_16,
		urine24_17,
		urine24_18,
		urine24_19,
		urine24_20,
		urine24_21,
		urine24_22,
		urine24_23,
		urine24_24,
		urine24_25,
		urine24_26,
		urine24_01_status,
		urine24_02_status,
		urine24_03_status,
		urine24_04_status,
		urine24_05_status,
		urine24_06_status,
		urine24_07_status,
		urine24_08_status,
		urine24_09_status,
		urine24_10_status,
		urine24_11_status,
		urine24_12_status,
		urine24_13_status,
		urine24_14_status,
		urine24_15_status,
		urine24_16_status,
		urine24_17_status,
		urine24_18_status,
		urine24_19_status,
		urine24_20_status,
		urine24_21_status,
		urine24_22_status,
		urine24_23_status,
		urine24_24_status,
		urine24_25_status,
		urine24_26_status,
		uu_colordoppler_description,
		uu_colordoppler_result,
		uu_colordoppler_result_status,
		chest_xray_description,
		chest_xray_result,
		chest_xray_result_status,
		head_ct_description,
		head_ct_result,
		head_ct_result_status,
		heart_colordoppler_description,
		heart_colordoppler_result,
		heart_colordoppler_result_status,
		abdomen_colordoppler_description,
		abdomen_colordoppler_result,
		abdomen_colordoppler_result_status,
		prostate_colordoppler_description,
		prostate_colordoppler_result,
		prostate_colordoppler_result_status,
		ub_colordoppler_description,
		ub_colordoppler_result,
		ub_colordoppler_result_status,
		gynaecology_colordoppler_description,
		gynaecology_colordoppler_result,
		gynaecology_colordoppler_result_status
		FROM xx_medical_report
		WHERE
		id=#{id}

	</select>

	<select id="list" parameterType="String"
		resultType="com.alibaba.fastjson.JSONObject">
		SELECT
		id, title, createtime
		FROM
		xx_medical_report
		WHERE
		username =#{username}
	</select>
	<!-- `blood24_result`, `blood24_result_status`, `blood24_01_status`, `blood24_02_status`, 
		`blood24_03_status`, `blood24_04_status`, `blood24_05_status`, `blood24_06_status`, 
		`blood24_07_status`, `blood24_08_status`, `blood24_09_status`, `blood24_10_status`, 
		`blood24_11_status`, `blood24_12_status`, `blood24_13_status`, `blood24_14_status`, 
		`blood24_15_status`, `blood24_16_status`, `blood24_17_status`, `blood24_18_status`, 
		`blood24_19_status`, `blood24_20_status`, `blood24_21_status`, `blood24_22_status`, 
		`blood24_23_status`, `blood24_24_status`, `bf4_result`, `bf4_result_status`, 
		`bf4_tc_status`, `bf4_tg_status`, `bf4_shdc_status`, `bf4_sldc_status`, `blood_sugar_result_status`, 
		`mz5_result`, `mz5_result_status`, `mz5_ast_status`, `mz5_ldh_status`, `mz5_ck_status`, 
		`mz5_cki_status`, `mz5_hbdh_status`, `liver4_result`, `liver4_result_status`, 
		`liver4_ggt_status`, `liver4_alt_status`, `liver4_got_status`, `liver4_tb_status`, 
		`renal3_result`, `renal3_result_status`, `renal3_cr_status`, `renal3_bun_status`, 
		`renal3_sua_status`, `homocysteine_status`, `urine24_result_status`, `urine24_result`, 
		`urine24_01_status`, `urine24_02_status`, `urine24_03_status`, `urine24_04_status`, 
		`urine24_05_status`, `urine24_06_status`, `urine24_07_status`, `urine24_08_status`, 
		`urine24_09_status`, `urine24_10_status`, `urine24_11_status`, `urine24_12_status`, 
		`urine24_13_status`, `urine24_14_status`, `urine24_15_status`, `urine24_16_status`, 
		`urine24_17_status`, `urine24_18_status`, `urine24_19_status`, `urine24_20_status`, 
		`urine24_21_status`, `urine24_22_status`, `urine24_23_status`, `urine24_24_status`, 
		`urine24_25_status`, `urine24_26_status`, -->



	<!-- #{blood24_result}, #{blood24_result_status}, #{blood24_01_status}, 
		#{blood24_02_status}, #{blood24_03_status}, #{blood24_04_status}, #{blood24_05_status}, 
		#{blood24_06_status}, #{blood24_07_status}, #{blood24_08_status}, #{blood24_09_status}, 
		#{blood24_10_status}, #{blood24_11_status}, #{blood24_12_status}, #{blood24_13_status}, 
		#{blood24_14_status}, #{blood24_15_status}, #{blood24_16_status}, #{blood24_17_status}, 
		#{blood24_18_status}, #{blood24_19_status}, #{blood24_20_status}, #{blood24_21_status}, 
		#{blood24_22_status}, #{blood24_23_status}, #{blood24_24_status}, #{liver4_result}, 
		#{liver4_result_status}, #{liver4_ggt_status}, #{liver4_alt_status}, #{liver4_got_status}, 
		#{liver4_tb_status}, #{renal3_result} #{renal3_result_status}, #{renal3_cr_status}, 
		#{renal3_bun_status}, #{renal3_sua_status}, #{bf4_result}, #{bf4_result_status}, 
		#{bf4_tc_status}, #{bf4_tg_status}, #{bf4_shdc_status}, #{bf4_sldc_status}, 
		#{blood_sugar_result_status}, #{mz5_result}, #{mz5_result_status}, #{mz5_hbdh_status}, 
		#{mz5_ast_status}, #{mz5_ldh_status}, #{mz5_ck_status}, #{mz5_cki_status}, 
		#{homocysteine_status}, #{urine24_result_status}, #{urine24_result}, #{urine24_01_status}, 
		#{urine24_02_status}, #{urine24_03_status}, #{urine24_04_status}, #{urine24_05_status}, 
		#{urine24_06_status}, #{urine24_07_status}, #{urine24_08_status}, #{urine24_09_status}, 
		#{urine24_10_status}, #{urine24_11_status}, #{urine24_12_status}, #{urine24_13_status}, 
		#{urine24_14_status}, #{urine24_15_status}, #{urine24_16_status}, #{urine24_17_status}, 
		#{urine24_18_status}, #{urine24_19_status}, #{urine24_20_status}, #{urine24_21_status}, 
		#{urine24_22_status}, #{urine24_23_status}, #{urine24_24_status}, #{urine24_25_status}, 
		#{urine24_26_status}, -->
<!-- 	<insert id="save"
		parameterType="com.alibaba.fastjson.JSONObject">
		INSERT INTO
		xx_medical_report_third_resource
		<set>
			createtime=#{createtime},
			title=#{title},
			name=#{name},
			male=#{male},
			<if test="basic_height>0">basic_height=#{basic_height},</if>
			<if test="basic_weight>0">basic_weight=#{basic_weight},</if>
			<if test="basic_age>0">basic_age=#{basic_age},</if>
			<if test="basic_waistline>0">basic_waistline=#{basic_waistline},</if>
			<if test="basic_hipsline>0">basic_hipsline=#{basic_hipsline},</if>
			<if test="anomalies_nums>0">anomalies_nums=#{anomalies_nums},</if>
			<if test="bmi>0">bmi=#{bmi},</if>
			<if test="bph>0">bph=#{bph},</if>
			<if test="bpl>0">bpl=#{bpl},</if>
			mer_result=#{mer_result},
			mer_result_proposal=#{mer_result_proposal},
			<if test="mer_doctor!=null  and mer_doctor!=''">mer_doctor=#{mer_doctor},</if>
			<if test="basic_result!=null and basic_result!=''">basic_result=#{basic_result},</if>
			<if test="ecg_result!=null and ecg_result!=''">ecg_result=#{ecg_result},</if>
			<if test="ecg_result_status!=null and ecg_result_status!=''">ecg_result_status=#{ecg_result_status},</if>
			<if test="blood_sugar_result!=null and blood_sugar_result!=''">blood_sugar_result=#{blood_sugar_result},</if>
			<if test="ecg_heart_rate>0">ecg_heart_rate=#{ecg_heart_rate},</if>
			<if test="blood24_01>0">blood24_01=#{blood24_01},</if>
			<if test="blood24_02>0">blood24_02=#{blood24_02},</if>
			<if test="blood24_03>0">blood24_03=#{blood24_03},</if>
			<if test="blood24_04>0">blood24_04=#{blood24_04},</if>
			<if test="blood24_05>0">blood24_05=#{blood24_05},</if>
			<if test="blood24_06>0">blood24_06=#{blood24_06},</if>
			<if test="blood24_07>0">blood24_07=#{blood24_07},</if>
			<if test="blood24_08>0">blood24_08=#{blood24_08},</if>
			<if test="blood24_09>0">blood24_09=#{blood24_09},</if>
			<if test="blood24_10>0">blood24_10=#{blood24_10},</if>
			<if test="blood24_11>0">blood24_11=#{blood24_11},</if>
			<if test="blood24_12>0">blood24_12=#{blood24_12},</if>
			<if test="blood24_13>0">blood24_13=#{blood24_13},</if>
			<if test="blood24_14>0">blood24_14=#{blood24_14},</if>
			<if test="blood24_15>0">blood24_15=#{blood24_15},</if>
			<if test="blood24_16>0">blood24_16=#{blood24_16},</if>
			<if test="blood24_17>0">blood24_17=#{blood24_17},</if>
			<if test="blood24_18>0">blood24_18=#{blood24_18},</if>
			<if test="blood24_19>0">blood24_19=#{blood24_19},</if>
			<if test="blood24_20>0">blood24_20=#{blood24_20},</if>
			<if test="blood24_21>0">blood24_21=#{blood24_21},</if>
			<if test="blood24_22>0">blood24_22=#{blood24_22},</if>
			<if test="blood24_23>0">blood24_23=#{blood24_23},</if>
			<if test="blood24_24>0">blood24_24=#{blood24_24},</if>
			<if test="liver4_ggt>0">liver4_ggt=#{liver4_ggt},</if>
			<if test="liver4_alt>0">liver4_alt=#{liver4_alt},</if>
			<if test="liver4_got>0">liver4_got=#{liver4_got},</if>
			<if test="liver4_tb>0">liver4_tb=#{liver4_tb},</if>
			<if test="renal3_cr>0">renal3_cr=#{renal3_cr},</if>
			<if test="renal3_bun>0">renal3_bun=#{renal3_bun},</if>
			<if test="renal3_sua>0">renal3_sua=#{renal3_sua},</if>
			<if test="bf4_tc>0">bf4_tc=#{bf4_tc},</if>
			<if test="bf4_tg>0">bf4_tg=#{bf4_tg},</if>
			<if test="bf4_shdc>0">bf4_shdc=#{bf4_shdc},</if>
			<if test="bf4_sldc>0">bf4_sldc=#{bf4_sldc},</if>
			<if test="blood_sugar>0">blood_sugar=#{blood_sugar},</if>
			<if test="mz5_hbdh>0">mz5_hbdh=#{mz5_hbdh},</if>
			<if test="mz5_ast>0">mz5_ast=#{mz5_ast},</if>
			<if test="mz5_ldh>0">mz5_ldh=#{mz5_ldh},</if>
			<if test="mz5_ck>0">mz5_ck=#{mz5_ck},</if>
			<if test="mz5_cki>0">mz5_cki=#{mz5_cki},</if>
			<if test="homocysteine>0">homocysteine=#{homocysteine},</if>
			<if test="urine24_01!=null and urine24_01!=''">urine24_01=#{urine24_01},</if>
			<if test="urine24_02!=null and urine24_01!=''">urine24_02=#{urine24_02},</if>
			<if test="urine24_03!=null and urine24_01!=''">urine24_03=#{urine24_03},</if>
			<if test="urine24_04!=null and urine24_01!=''">urine24_04=#{urine24_04},</if>
			<if test="urine24_05>0">urine24_05=#{urine24_05},</if>
			<if test="urine24_06>0">urine24_06=#{urine24_06},</if>
			<if test="urine24_07>0">urine24_07=#{urine24_07},</if>
			<if test="urine24_08>0">urine24_08=#{urine24_08},</if>
			<if test="urine24_09>0">urine24_09=#{urine24_09},</if>
			<if test="urine24_10>0">urine24_10=#{urine24_10},</if>
			<if test="urine24_11>0">urine24_11=#{urine24_11},</if>
			<if test="urine24_12>0">urine24_12=#{urine24_12},</if>
			<if test="urine24_13>0">urine24_13=#{urine24_13},</if>
			<if test="urine24_14>0">urine24_14=#{urine24_14},</if>
			<if test="urine24_15>0">urine24_15=#{urine24_15},</if>
			<if test="urine24_16>0">urine24_16=#{urine24_16},</if>
			<if test="urine24_17>0">urine24_17=#{urine24_17},</if>
			<if test="urine24_18>0">urine24_18=#{urine24_18},</if>
			<if test="urine24_19!=null and urine24_19!=''">urine24_19=#{urine24_19},</if>
			<if test="urine24_20>0">urine24_20=#{urine24_20},</if>
			<if test="urine24_21!=null and urine24_21!=''">urine24_21=#{urine24_21},</if>
			<if test="urine24_22!=null and urine24_22!=''">urine24_22=#{urine24_22},</if>
			<if test="urine24_23!=null and urine24_23!=''">urine24_23=#{urine24_23},</if>
			<if test="urine24_24!=null and urine24_24!=''">urine24_24=#{urine24_24},</if>
			<if test="urine24_25>0">urine24_25=#{urine24_25},</if>
			<if test="urine24_26>0">urine24_26=#{urine24_26},</if>
			<if
				test="uu_colordoppler_description!=null and uu_colordoppler_description!=''">uu_colordoppler_description=#{uu_colordoppler_description},</if>
			<if
				test="uu_colordoppler_result!=null and uu_colordoppler_result!=''">uu_colordoppler_result=#{uu_colordoppler_result},</if>
			<if
				test="uu_colordoppler_result_status!=null and uu_colordoppler_result_status!=''">uu_colordoppler_result_status=#{uu_colordoppler_result_status},</if>
			<if test="head_ct_description!=null and head_ct_description!=''">head_ct_description=#{head_ct_description},</if>
			<if test="head_ct_result!=null and head_ct_result!=''">head_ct_result=#{head_ct_result},</if>
			<if
				test="head_ct_result_status!=null and head_ct_result_status!=''">head_ct_result_status=#{head_ct_result_status},</if>
			<if test="chest_xray_result!=null and chest_xray_result!=''">chest_xray_result=#{chest_xray_result},</if>
			<if
				test="chest_xray_result_status!=null and chest_xray_result_status!=''">chest_xray_result_status=#{chest_xray_result_status},</if>
			<if
				test="heart_colordoppler_description!=null and heart_colordoppler_description!=''">heart_colordoppler_description=#{heart_colordoppler_description},</if>
			<if
				test="heart_colordoppler_result!=null and heart_colordoppler_result!=''">heart_colordoppler_result=#{heart_colordoppler_result},</if>
			<if
				test="heart_colordoppler_result_status!=null and heart_colordoppler_result_status!=''">heart_colordoppler_result_status=#{heart_colordoppler_result_status},</if>
			<if
				test="abdomen_colordoppler_result!=null and abdomen_colordoppler_result!=''">abdomen_colordoppler_result=#{abdomen_colordoppler_result},</if>
			<if
				test="abdomen_colordoppler_result_status!=null and abdomen_colordoppler_result_status!=''">abdomen_colordoppler_result_status=#{abdomen_colordoppler_result_status},</if>
			<if
				test="prostate_colordoppler_description!=null and prostate_colordoppler_description!=''">prostate_colordoppler_description=#{prostate_colordoppler_description},</if>
			<if
				test="prostate_colordoppler_result!=null and prostate_colordoppler_result!=''">prostate_colordoppler_result=#{prostate_colordoppler_result},</if>
			<if
				test="prostate_colordoppler_result_status!=null and prostate_colordoppler_result_status!=''">prostate_colordoppler_result_status=#{prostate_colordoppler_result_status},</if>
			<if
				test="ub_colordoppler_description!=null and ub_colordoppler_description!=''">ub_colordoppler_description=#{ub_colordoppler_description},</if>
			<if
				test="ub_colordoppler_result!=null and ub_colordoppler_result!=''">ub_colordoppler_result=#{ub_colordoppler_result},</if>
			<if
				test="ub_colordoppler_result_status!=null and ub_colordoppler_result_status!=''">ub_colordoppler_result_status=#{ub_colordoppler_result_status},</if>
			<if
				test="gynaecology_colordoppler_description!=null and gynaecology_colordoppler_description!=''">gynaecology_colordoppler_description=#{gynaecology_colordoppler_description},</if>
			<if
				test="gynaecology_colordoppler_result!=null and gynaecology_colordoppler_result!=''">gynaecology_colordoppler_result=#{gynaecology_colordoppler_result},</if>
			<if
				test="gynaecology_colordoppler_result_status!=null and gynaecology_colordoppler_result_status!=''">gynaecology_colordoppler_result_status=#{gynaecology_colordoppler_result_status},</if>
			updatetime=#{updatetime}
		</set>
		( ``, ``, ``, ``, ``) VALUES ( #{title}, #{name}, #{male}, #{createtime}, 
			#{updatetime}, #{anomalies_nums}, #{basic_height}, #{basic_weight}, #{basic_age}, 
			#{basic_waistline}, #{basic_hipsline}, #{bmi}, #{mer_result}, #{mer_result_proposal}, 
			#{mer_doctor}, #{basic_result}, #{ecg_result}, #{ecg_result_status}, #{ecg_heart_rate}, 
			#{blood24_01}, #{blood24_02}, #{blood24_03}, #{blood24_04}, #{blood24_05}, 
			#{blood24_06}, #{blood24_07}, #{blood24_08}, #{blood24_09}, #{blood24_10}, 
			#{blood24_11}, #{blood24_12}, #{blood24_13}, #{blood24_14}, #{blood24_15}, 
			#{blood24_16}, #{blood24_17}, #{blood24_18}, #{blood24_19}, #{blood24_20}, 
			#{blood24_21}, #{blood24_22}, #{blood24_23}, #{blood24_24}, #{liver4_ggt}, 
			#{liver4_alt}, #{liver4_got}, #{liver4_tb}, #{renal3_cr}, #{renal3_bun}, 
			#{renal3_sua}, #{bf4_tc}, #{bf4_tg}, #{bf4_shdc}, #{bf4_sldc}, #{blood_sugar_result}, 
			#{blood_sugar}, #{mz5_hbdh}, #{mz5_ast}, #{mz5_ldh}, #{mz5_ck}, #{mz5_cki}, 
			#{homocysteine}, #{urine24_01}, #{urine24_02}, #{urine24_03}, #{urine24_04}, 
			#{urine24_05}, #{urine24_06}, #{urine24_07}, #{urine24_08}, #{urine24_09}, 
			#{urine24_10}, #{urine24_11}, #{urine24_12}, #{urine24_13}, #{urine24_14}, 
			#{urine24_15}, #{urine24_16}, #{urine24_17}, #{urine24_18}, #{urine24_19}, 
			#{urine24_20}, #{urine24_21}, #{urine24_22}, #{urine24_23}, #{urine24_24}, 
			#{urine24_25}, #{urine24_26}, #{uu_colordoppler_description}, #{uu_colordoppler_result}, 
			#{uu_colordoppler_result_status}, #{chest_xray_description}, #{chest_xray_result}, 
			#{chest_xray_result_status}, #{head_ct_description}, #{head_ct_result}, #{head_ct_result_status}, 
			#{heart_colordoppler_description}, #{heart_colordoppler_result}, #{heart_colordoppler_result_status}, 
			#{abdomen_colordoppler_description}, #{abdomen_colordoppler_result}, #{abdomen_colordoppler_result_status}, 
			#{prostate_colordoppler_description}, #{prostate_colordoppler_result}, #{prostate_colordoppler_result_status}, 
			#{ub_colordoppler_description}, #{ub_colordoppler_result}, #{ub_colordoppler_result_status}, 
			#{gynaecology_colordoppler_description}, #{gynaecology_colordoppler_result}, 
			#{gynaecology_colordoppler_result_status})
	</insert> -->
	<update id="reset">
		UPDATE xx_medical_report_third_resource
		SET
		use_status='new'
	</update>
</mapper>
